<div>
    &nbsp;
    <div id="{{infoPanelParent}}" style="z-index:1000" ></div>
    <div class="row">
        <div class="col-lg-12" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><i class="fa fa-cogs fa-fw"></i> Settings</h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form ng-submit="changeApiUrl()">
                        <fieldset>
                            <legend>Api <i class="fa fa-refresh fa-fw" ng-click="refresh()"></i></legend>
                            <div class="alert alert-danger" ng-show="style.version == danger" >
                                Data is more than one month old.
                            </div>
                            <label>Url :&nbsp;</label>{{api.url}}<br/>
                            <label>Status :&nbsp;</label><span ng-style="style.status">{{api.status}}</span><br/>
                            <label>Ram load :&nbsp;</label><span ng-style="style.ram">{{api.ramLoad}}</span> %<br/>
                            <label>Disk load :&nbsp;</label><span ng-style="style.disk">{{api.diskLoad}}</span> %<br/><br/>
                        </fieldset>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
    <!-- /.row -->
</div>
