.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color: #4393B9;
  text-align: center;
  font-size: medium;
  color: white;
  padding-top: 1vh;
}
.footer a {
  color: white;
}
