<div class="container">
  <ul class="list-group">
    <li ng-repeat="label in keys" class="list-group-item" ng-class="{'list-group-item-danger': label.substring(0,5) == 'group'}">
      {{label.label}}
      <button ng-if="label.color" colorpicker type="button" class="btn btn-default dropdown-toggle" ng-model="label.color" style="background-color: {{label.color}};">Color</button>
      <span ng-if="label.substring(0,5) == 'group'" class="badge">Hierarchy can't be automatically find</span>
      <span ng-if="label.substring(0,5) != 'group'" class="badge">{{labelsCount[label.label]}}</span>
      <ul ng-if="keys2[label.label].length" class="list-group">
        <li ng-repeat="l in keys2[label.label]" class="list-group-item">{{l.label}}
          <span class="label label-default" ng-if="l.color" colorpicker ng-model="l.color" style="background-color: {{l.color}};">Color</span  >
          <span class="badge">{{labelsCount[l.label]}}</span>
          <ul ng-if="keys3[l.label].length" class="list-group">
            <li ng-repeat="l3 in keys3[l.label]" class="list-group-item">
              {{l3.label}}
              <span class="label label-default" ng-if="l3.color" colorpicker ng-model="l3.color" style="background-color: {{l3.color}};">Color</span  >
              <span class="badge">{{labelsCount[l3.label]}}</span>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
