.my-panel {
  position: absolute;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 110;
}
.sigma-panel>.panel-heading{
  background-color: #31a354;
  border-color: #31a354;
}
.sigma-panel {
  border-color: #31a354;
}
.panel-body {
  height: 100%;
  overflow: auto;
  padding-top: 5px;
  padding-bottom: 50px;
}
.ui-resizable {
}
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
.advancedSearchBox {
  display:block;
  position:relative;
  margin:5px 0 10px;
  border:1px solid #ccc;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  min-height:40px;
  padding:0 9px;
  background-color:#fff;
  cursor:text;
  line-height:38px
}
.advancedSearchBox.active{
  border-color:#66afe9
}
.advancedSearchBox .search-icon {
  float:right;
  padding:10px 0 0 10px
}
.advancedSearchBox .remove-all-icon {
  float:right;
  padding:10px 0 0 10px;
  cursor:pointer
}
.advancedSearchBox .search-parameter {
  display:inline-block;
  height:24px;
  margin:0 7px 0 0;
  background-color:#5bc0de;
  padding:0 5px;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  line-height:24px;
  cursor:default;
  transition:box-shadow 100ms linear
}
.advancedSearchBox .search-parameter:hover {
  box-shadow:0 3px 3px rgba(0,0,0,.2)
}
.advancedSearchBox .search-parameter div {
  float:left;
  margin:0 2px
}
.advancedSearchBox .search-parameter .remove {
  color:#fff;
  margin-left:5px;
  cursor:pointer
}
.advancedSearchBox .search-parameter .key,.advancedSearchBox .search-parameter .value span {
  color:#fff
}
.advancedSearchBox .search-parameter .value input {
  height:24px
}
.advancedSearchBox .search-parameter-input {
  display:inline-block;
  width:fill;
  height:24px;
  border:0;
  margin:0;
  padding:0
}
.advancedSearchBox .search-parameter-input:focus {
  box-shadow:none;
  outline:0
}
.advancedSearchBox .search-parameter-suggestions {
  cursor:auto;
  display:block
}
.advancedSearchBox .search-parameter-suggestions .title {
  display:block;
  float:left;
  height:25px;
  margin:7px 7px 0 0;
  background-color:transparent;
  color:#888;
  font-weight:700;
  padding:0 5px;
  font-size:14px;
  line-height:25px
}
.advancedSearchBox .search-parameter-suggestions .search-parameter {
  cursor: pointer;
  background-color: #bdbdbd;
  color: #fff
}
