<div class="vertical-menu" style="{{settings.style.css}}" ng-show="settings.style.display">
  <a href="#" class="active menu-title">{{settings.style.title}}<button type="button" class="pull-right close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
  <a href="#" ng-repeat="option in settings.options" ng-click="choice(option)">{{option.label}}</a>
  <a href="#" ng-repeat="field in settings.fields" >{{field.label}}<input size="10" type="text"  ng-model="field.aid" /><button ng-click="choice(field)" class="btn btn-primary" >Go</button></a>
</div>
